<h2>Productos (Actualización en Tiempo Real)</h2>
<ul id="product-list">
    {{#each products}}
        <li>{{this.name}} - ${{this.price}}</li>
    {{/each}}
</ul>

<script>
    const socket = io();  // Conexión al servidor de Socket.io

    socket.on('productsUpdated', function (products) {
        const productList = document.getElementById('product-list');
        productList.innerHTML = '';
        products.forEach(product => {
            const productElement = document.createElement('li');
            productElement.textContent = `${product.name} - $${product.price}`;
            productList.appendChild(productElement);
        });
    });
    socket.emit('requestUpdate');
</script>
